body {
    background-color: #000000;
    color: #00FF00;
    font-family: monospace;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 65%;
}

.sidebar {
    background-color: #000000;
    float: right;
    height: 100%;
    margin: 0;
    padding-left: 1em;
    width: 10%;
    transition: width 0.5s ease;
}

.sidebar.collapsed {
    transition: width 0.5s ease;
    width: 1em;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: right;
}

.sidebar ul.collapsed {
    display: none;
}

.post {
    width: 75%;
    border-bottom: 1px solid #00FF00;
    margin: 8px;
    padding: 0;
    display: block;
}
.content {
    color: #108a10;
    transition: height 0.5s ease;
    height: auto;
    overflow: hidden;
}
.content.collapsed{
    height: 0;
    overflow: hidden;
}

.post .title, .post .reply {
    font-weight: bold;
    color: #00FF00;
}


.post .title .author, .post .reply .author {
    float: right;
    text-transform: uppercase;
}

.intro {
    font-size: 24px;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
}

.read-more, .server-nuke-submit {
    background-color: #000000;
    border: 1px solid #00FF00;
    color: #108a10; 
    font-family: monospace;
    font-size: 12px;
    margin: 3px;
    padding: 0;
}

.reply {
    margin-left: 1em;
}
.replyBody{
    color: #108a10;
}
.wordFromGod {
    background-color: #FFFFFF;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

form, #response{
    margin-bottom: 5em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.form-row {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-bottom: 10px;
}

.form-row label {
    flex: 1;
    text-align: left;
    margin-right: 10px;
    width: 15em;
}

.form-row input {
    flex: 6;
    align-items: left;
}

h1{
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}